@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@700&family=Rubik:ital,wght@1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body, html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(28deg, #0040a3, #00a2b4, #1d6c19, #09b700);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: 480px;
    min-height: 440px;
    max-height: 500px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

header h1 {
    font-family: "Roboto";
    font-weight: bold;
    color: #def7f4;
    font-size: 6.4rem;
    margin-left: 15px;
}

main {
    margin: auto;
    width: 85%;
    height: 70%;
}

main form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 5.5rem;
    border: 2px solid #def7f4;
    flex-direction: row-reverse;
    transition: .3s;
}

.input-field:hover {
    border: 2px solid #d5ecea;

}

.input-field input {
    border: none;
    outline: none;
    background: #def7f4;
    width: 82%;
    height: 5.5rem;
    padding-left: 10px;
    font-size: 2.0rem;
    font-family: "Poppins";
    border-radius: 0 8px 8px 0;
    transition: .3s;

}

.input-field:hover > input {
    background-color: #d5ecea;
}

::-webkit-input-placeholder {
    color: #6d6e6f;
    font-weight: 300;
}

.input-field label {
    height: 5.5rem;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.input-field label img {
    width: 3.3rem;
    height: 3.3rem;
}

.checkbox label {
    color: #def7f4;
    font-family: "Rubik";
    font-size: 1.8rem;
    cursor: pointer;
}

.checkbox label:hover {
 color: #c0e8ee;   
}

.checkbox input {
    display: none;

}

.checkbox input + label:before {
    content: '';
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: middle;
    border: 2px solid #def7f4;
    border-radius: 5px;
    margin-right: 10px;
}

.checkbox input:checked + label::before {
    background: url(check.svg) no-repeat center;
}

form button {
    height: 5.5rem;
    background-color: #05142b;
    border: none;
    border-radius: 10px;
    color: #def7f4;
    outline: none;
    cursor: pointer;
    font-size: 3.0rem;
    font-family: "Poppins";
    font-weight: 300;
    transition: .3s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);

}

form button:hover {
    transform: scale(1.2);
    transition-delay: .2s;
    background: linear-gradient(270deg, #05142b, #243d65, #1d6c19);
    
}

.content footer {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-bottom: 2px solid #def7f478;
}

footer a {
    color:  #cbf0ee;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Rubik";
    transition: .5s;

}

footer a:hover {
    transform: scale(1.1);
    transition-delay: .1s;
    color: #def7f4;
}

footer span a {
    transition: .5s;
    font-weight: 300;
}

footer span a:hover {
    transform: scale(1.1);
    transition-delay: .1s;
    color: #def7f4;
    
}

@media(max-width: 600px) {
    html {
        font-size: 58%;
    }
    header h1 {
        font-size: 5.5rem;

    }
}

@media (max-width: 470px) {
    html {
        font-size: 56%;
    }
    header h1 {
        display: none;
    }

    .content {
        width: 100%;
    }

    .content main .content footer {
        width: 100%;
    }
}